<highcharts-chart *ngIf="internalScatterGrouping === ScatterGrouping.season"
                  id="bigChartContainerSeason"
                  style="width: 100%; height: 100%; display: inline-flex"
                  [Highcharts]="highchartBigScatterSeason"
                  [options]="chartOptionsScatterSeason"
                  [(update)]="updateFlagBigScatterSeason"
                  [oneToOne]="true">
</highcharts-chart>
<highcharts-chart *ngIf="internalScatterGrouping === ScatterGrouping.year"
                  id="bigChartContainerYear"
                  style="width: 100%; height: 100%; display: inline-flex"
                  [Highcharts]="highchartBigScatterYear"
                  [options]="chartOptionsScatterYear"
                  [(update)]="updateFlagBigScatterYear"
                  [oneToOne]="true">
</highcharts-chart>
