<div class="container-fluid ps-5 pe-5 align-middle text-center">
  <h1>Electricity Visualization of Germany</h1>
  <div class="row row-cols-1 row-cols-lg-5 row-cols-md-2 mt-5">
    <div class="col mt-3">
      <div class="card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex align-items-center">
          <fa-icon class="fa-3x text-warning" [icon]="faBoltLightning"></fa-icon>
          <span class="ms-4"><h4>Generation</h4>broken down by source</span>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex align-items-center">
          <fa-icon class="fa-3x text-success" [icon]="faPlug"></fa-icon>
          <span class="ms-4"><h4>Consumption</h4>in Germany</span>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex align-items-center">
          <fa-icon class="fa-3x text-primary" [icon]="faEuroSign"></fa-icon>
          <span class="ms-4"><h4>Import/Export</h4>with the neighboring countries</span>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex align-items-center">
          <fa-icon class="fa-3x text-brown" [icon]="faCloud"></fa-icon>
          <span class="ms-4"><h4>CO2 Equivalent</h4>per kWh on average</span>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card d-flex justify-content-center align-items-center">
        <div class="card-body d-flex align-items-center">
          <fa-icon class="fa-3x text-secondary" [icon]="faCalendar"></fa-icon>
          <span class="ms-4"><h4>From 2015 to 2022</h4>in 15min-intervals</span>
        </div>
      </div>
    </div>
  </div>
  <h4 class="mt-5">Utilize several views to explore the data</h4>
  <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
    <div class="col mt-3">
      <div class="card card-clickable" (click)="emitClick(Tab.explorer)">
        <h6 class="card-header text-white bg-dark">{{Tab.explorer}}</h6>
        <div class="card-body">Explore the electricity production from several viewpoints through a timeline</div>
      </div>
      <div class="card card-clickable mt-3" (click)="emitClick(Tab.scatterplot)">
        <h6 class="card-header text-white bg-dark">{{Tab.scatterplot}}</h6>
        <div class="card-body">Identify the correlation of two variables, divided by years or seasons, using a custom-build scatterplot.</div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card card-clickable" (click)="emitClick(Tab.timeComparison)">
        <h6 class="card-header text-white bg-dark">{{Tab.timeComparison}}</h6>
        <div class="card-body">Compare two timelines of electricity production which each other.</div>
      </div>
      <div class="card card-clickable mt-3" (click)="emitClick(Tab.priceExport)">
        <h6 class="card-header text-white bg-dark">{{Tab.priceExport}}</h6>
        <div class="card-body">Understand how the day-ahead price is related to the amount of electricity imported / exported.</div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card card-clickable h-100" (click)="emitClick(Tab.heatmap)">
        <h6 class="card-header text-white bg-dark">{{Tab.heatmap}}</h6>
        <div class="card-body">Discover the percentage contribution of each electricity source, broken down by
          weekdays, to the total production.<br>Or use the heatmap to display the emissions in CO2-Equivalent per
                                               weekday.</div>
      </div>
    </div>
  </div>
  <div class="mt-lg-5"></div>
  <h4 class="mt-5">About</h4>
  <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
    <div class="col mt-3">
      <div class="card d-flex justify-content-center align-items-center h-100">
        <div class="card-body d-flex align-items-center">
          <fa-icon class="fa-3x text-secondary" [icon]="faGlobe"></fa-icon>
          <a target="_blank" rel="noopener"
             style="color: black" href="https://www.smard.de/"> The Data is provided by the Federal Network Agency
            ("Bundesnetzagentur") Germany with an CC BY 4.0 licence</a>
          <a target="_blank" rel="noopener"
             style="color: black"
             href="https://www.ipcc.ch/site/assets/uploads/2018/02/ipcc_wg3_ar5_annex-iii.pdf">The CO2-Equivalents are
            taken from: Steffen
            Schlömer (ed.), Technology-specific Cost and Performance Parameters </a>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card d-flex justify-content-center align-items-center h-100">
        <div class="card-body d-flex align-items-center">
          <fa-icon class="fa-3x text-secondary" [icon]="faCircleInfo"></fa-icon>
          <span class="ms-4">The project is part of the course "Data Visualization" in the winter
            semester 2022 / 2023 at Aarhus University.</span>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <a class="card d-flex justify-content-center align-items-center h-100" target="_blank" rel="noopener"
         style="color: black" href="https://github.com/mallgaier/Electricity_Visualisation_Germany">
        <div class="card-body d-flex align-items-center">
          <fa-icon class="fa-3x" [icon]="faGithub"></fa-icon>
          <div class="ms-4">The repository of the project is available on Github</div>
        </div>
      </a>
    </div>
  </div>
</div>
