<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <h6 class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Electricity Export / Import and Price Differences
                in {{displayMonth}}  {{displayYear}}</a>
            </li>
          </ul>
        </h6>
        <div class="card-body full-box">
          <chart-big-price-export *ngIf="displayDetailFirst === Detail.detailed"
                                  [displayMonth]="displayMonth"
                                  [displayYear]="displayYear"></chart-big-price-export>
          <h4 *ngIf="displayDetailFirst === Detail.loading"
              class="text-center align-middle">Updating...</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card justify-content-center text-center d-flex">
        <h6 class="card-header">Visualization Options</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <label for="select_year">Year</label>
            <select #selectYear class="form-select text-center" aria-label="Default select example"
                    [ngModel]="displayYear"
                    (ngModelChange)="selectYear.value = setDisplayYear($event)"
                    name="selectYear"
                    id="select_year">
              <option selected [value]="Year.y2022">{{Year.y2022}}</option>
              <option [value]="Year.y2021">{{Year.y2021}}</option>
              <option [value]="Year.y2020">{{Year.y2020}}</option>
              <option [value]="Year.y2019">{{Year.y2019}}</option>
              <option [value]="Year.y2018">{{Year.y2018}}</option>
              <option [value]="Year.y2017">{{Year.y2017}}</option>
              <option [value]="Year.y2016">{{Year.y2016}}</option>
              <option [value]="Year.y2015">{{Year.y2015}}</option>
            </select>
          </li>
          <li class="list-group-item">
            <label for="select_month">Month</label>
            <select #selectMonth class="form-select text-center" aria-label="Default select example"
                    [ngModel]="displayMonth"
                    (ngModelChange)="selectMonth.value = setDisplayMonth($event)"
                    name="selectMonth"
                    id="select_month">
              <option [value]="Month.Year">{{Month.Year}}</option>
              <option [value]="Month.Jan">{{Month.Jan}}</option>
              <option [value]="Month.Feb">{{Month.Feb}}</option>
              <option [value]="Month.Mar">{{Month.Mar}}</option>
              <option [value]="Month.Apr">{{Month.Apr}}</option>
              <option [value]="Month.May">{{Month.May}}</option>
              <option [value]="Month.Jun">{{Month.Jun}}</option>
              <option [value]="Month.Jul">{{Month.Jul}}</option>
              <option [value]="Month.Aug">{{Month.Aug}}</option>
              <option [value]="Month.Sep">{{Month.Sep}}</option>
              <option [value]="Month.Oct" [disabled]="displayYear===Year.y2022">{{Month.Oct}}</option>
              <option [value]="Month.Nov" [disabled]="displayYear===Year.y2022">{{Month.Nov}}</option>
              <option [value]="Month.Dec" [disabled]="displayYear===Year.y2022">{{Month.Dec}}</option>
            </select>
          </li>
          <li class="list-group-item">
            <label>Data Resolution</label>
            <input *ngIf="displayMonth !== Month.Year" class="form-control text-center" type="text"
                   placeholder="15-Minutes Interval"
                   readonly>
            <input *ngIf="displayMonth === Month.Year" class="form-control text-center" type="text"
                   placeholder="6-Hour Average" readonly>
          </li>
          <li class="list-group-item">
            <!-- <button type="button" class="btn btn-secondary mb-2" (click)="updateData()">Update Data</button> -->
            <button type="button" class="btn btn-primary" *ngIf="!isUpdatingFirst" (click)="updateFirstDiagram()">
              Update
              Visualization
            </button>
            <button *ngIf="isUpdatingFirst" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Updating ...
            </button>
          </li>
        </ul>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card card-clickable text-center" *ngIf="previousMonth" (click)="tilePreviousMonth()">
            <fa-icon class="card-body fa-2x" [icon]="faArrowLeft"></fa-icon>
            <span> {{ previousMonth }} </span>
          </div>
        </div>
        <div class="col">
          <div class="card card-clickable text-center" *ngIf="nextMonth" (click)="tileNextMonth()">
            <fa-icon class="card-body fa-2x" [icon]="faArrowRight"></fa-icon>
            <span> {{ nextMonth }} </span>
          </div>
        </div>
      </div>
      <div class="card justify-content-center d-flex mt-3">
        <h6 class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <div class="nav-link disabled">
                <fa-icon [icon]="faCircleInfo"></fa-icon>
                Scatterplot
              </div>
            </li>
          </ul>
        </h6>
        <div class="card-body">
          <div>The scatterplot depicts the electricity export/import along with the price difference
            relative to the neighbouring countries
          </div>
          <div> When Germany exports electricity, the electricity price in Germany tends to be higher than in neighbouring countries.
          </div>
          <div> If the prices in neighbouring countries are lower, Germany is importing more electricity.</div>
        </div>

      </div>
    </div>
  </div>
</div>
