<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <h6 class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Scatterplot with {{scatterXAxis}} (x) and {{scatterYAxis}} (y)</a>
            </li>
          </ul>
        </h6>
        <div class="card-body full-box">
          <chart-scatterplot *ngIf="displayDetailFirst === Detail.detailed"
                             [displayYear]="displayYear" [scatterGrouping]="scatterGrouping"
                             [scatterXAxis]="scatterXAxis" [scatterYAxis]="scatterYAxis"
          ></chart-scatterplot>
          <h4 *ngIf="displayDetailFirst === Detail.loading"
              class="text-center align-middle">Updating...</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card justify-content-center text-center d-flex">
        <h6 class="card-header">Visualization Options</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <label for="select_year">Year</label>
            <select #selectYear class="form-select text-center" aria-label="Default select example"
                    [ngModel]="displayYear"
                    (ngModelChange)="selectYear.value = setDisplayYear($event)"
                    name="selectYear"
                    id="select_year">
              <option [value]="Year.yAll">{{Year.yAll}}</option>
              <option [value]="Year.y2022">{{Year.y2022}}</option>
              <option [value]="Year.y2021">{{Year.y2021}}</option>
              <option [value]="Year.y2020">{{Year.y2020}}</option>
              <option [value]="Year.y2019">{{Year.y2019}}</option>
              <option [value]="Year.y2018">{{Year.y2018}}</option>
              <option [value]="Year.y2017">{{Year.y2017}}</option>
              <option [value]="Year.y2016">{{Year.y2016}}</option>
              <option [value]="Year.y2015">{{Year.y2015}}</option>
            </select>
          </li>
          <li class="list-group-item">
            <label for="select_X">Y-Axis</label>
            <select #selectYAxis class="form-select text-center" aria-label="Default select example"
                    [ngModel]="scatterYAxis"
                    (ngModelChange)="selectYAxis.value = setScatterYAxis($event)"
                    name="selectY"
                    id="select_Y">
              <option [value]="Source.hydroPumpedStorage">{{Source.hydroPumpedStorage}}</option>
              <option [value]="Source.hydroPower">{{Source.hydroPower}}</option>
              <option [value]="Source.windOffshore">{{Source.windOffshore}}</option>
              <option [value]="Source.windOnshore">{{Source.windOnshore}}</option>
              <option [value]="Source.wind">{{Source.wind}}</option>
              <option [value]="Source.nuclear">{{Source.nuclear}}</option>
              <option [value]="Source.fossilGas">{{Source.fossilGas}}</option>
              <option [value]="Source.other">{{Source.other}}</option>
              <option [value]="Source.biomass">{{Source.biomass}}</option>
              <option [value]="Source.photovoltaics">{{Source.photovoltaics}}</option>
              <option [value]="Source.brownCoal">{{Source.brownCoal}}</option>
              <option [value]="Source.hardCoal">{{Source.hardCoal}}</option>
              <option [value]="Source.coal">{{Source.coal}}</option>
              <option [value]="Source.totalGridLoad">{{Source.totalGridLoad}}</option>
              <option [value]="Source.residualLoad">{{Source.residualLoad}}</option>
              <option [value]="Source.sumConventional">{{Source.sumConventional}}</option>
              <option [value]="Source.sumRenewable">{{Source.sumRenewable}}</option>
              <option [value]="Source.sumGeneration">{{Source.sumGeneration}}</option>
              <option [value]="Source.netExport">{{Source.netExport}}</option>
              <option selected [value]="Source.cw">{{Source.cw}}</option>
            </select>
          </li>
          <li class="list-group-item">
            <label for="select_X">X-Axis</label>
            <select #selectXAxis class="form-select text-center" aria-label="Default select example"
                    [ngModel]="scatterXAxis"
                    (ngModelChange)="selectXAxis.value = setScatterXAxis($event)"
                    name="selectX"
                    id="select_X">
              <option [value]="Source.hydroPumpedStorage">{{Source.hydroPumpedStorage}}</option>
              <option [value]="Source.hydroPower">{{Source.hydroPower}}</option>
              <option [value]="Source.windOffshore">{{Source.windOffshore}}</option>
              <option [value]="Source.windOnshore">{{Source.windOnshore}}</option>
              <option [value]="Source.wind">{{Source.wind}}</option>
              <option [value]="Source.nuclear">{{Source.nuclear}}</option>
              <option [value]="Source.fossilGas">{{Source.fossilGas}}</option>
              <option [value]="Source.other">{{Source.other}}</option>
              <option [value]="Source.biomass">{{Source.biomass}}</option>
              <option selected [value]="Source.photovoltaics">{{Source.photovoltaics}}</option>
              <option [value]="Source.brownCoal">{{Source.brownCoal}}</option>
              <option [value]="Source.hardCoal">{{Source.hardCoal}}</option>
              <option [value]="Source.coal">{{Source.coal}}</option>
              <option [value]="Source.totalGridLoad">{{Source.totalGridLoad}}</option>
              <option [value]="Source.residualLoad">{{Source.residualLoad}}</option>
              <option [value]="Source.sumConventional">{{Source.sumConventional}}</option>
              <option [value]="Source.sumRenewable">{{Source.sumRenewable}}</option>
              <option [value]="Source.sumGeneration">{{Source.sumGeneration}}</option>
              <option [value]="Source.netExport">{{Source.netExport}}</option>
              <option [value]="Source.cw">{{Source.cw}}</option>
            </select>
          </li>
          <li class="list-group-item">
            <label>Data Grouping</label>
            <div class="d-flex align-items-center justify-content-center text-center">
              <div class="btn-group">
                <div class="btn" [class.btn-secondary]="scatterGrouping === ScatterGrouping.season"
                     [class.btn-outline-secondary]="scatterGrouping === ScatterGrouping.year"
                     (click)="setScatterGrouping(ScatterGrouping.season)">
                  {{ ScatterGrouping.season }}
                </div>
                <div class="btn" [class.btn-secondary]="scatterGrouping === ScatterGrouping.year"
                     [class.btn-outline-secondary]="scatterGrouping === ScatterGrouping.season"
                     (click)="setScatterGrouping(ScatterGrouping.year)">
                  {{ ScatterGrouping.year }}
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <label>Data Resolution (average)</label>
            <div class="d-flex align-items-center justify-content-center text-center">
              <div class="btn-group">
                <div class="btn" *ngIf="displayYear !== Year.yAll || scatterGrouping !== ScatterGrouping.year "
                     [class.btn-secondary]="dataResolution ===
                ScatterGrouping.daily"
                     [class.btn-outline-secondary]="dataResolution === ScatterGrouping.weekly"
                     (click)="setDataResolution(ScatterGrouping.daily)">
                  {{ ScatterGrouping.daily }}
                </div>
                <div class="btn" [class.btn-secondary]="dataResolution === ScatterGrouping.weekly"
                     [class.btn-outline-secondary]="dataResolution === ScatterGrouping.daily"
                     (click)="setDataResolution(ScatterGrouping.weekly)">
                  {{ ScatterGrouping.weekly }}
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <!-- <button type="button" class="btn btn-secondary mb-2" (click)="updateData()">Update Data</button> -->
            <button type="button" class="btn btn-primary" *ngIf="!isUpdatingFirst" (click)="updateFirstDiagram()">
              Update
              Visualization
            </button>
            <button *ngIf="isUpdatingFirst" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Updating ...
            </button>
          </li>
        </ul>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card card-clickable text-center" *ngIf="previousMonth" (click)="tilePreviousMonth()">
            <fa-icon class="card-body fa-2x" [icon]="faArrowLeft"></fa-icon>
            <span> {{ previousMonth }} </span>
          </div>
        </div>
        <div class="col">
          <div class="card card-clickable text-center" *ngIf="nextMonth" (click)="tileNextMonth()">
            <fa-icon class="card-body fa-2x" [icon]="faArrowRight"></fa-icon>
            <span> {{ nextMonth }} </span>
          </div>
        </div>
      </div>
      <div class="card justify-content-center d-flex mt-3">
        <h6 class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <div [ngClass]="{'nav-link': true, 'active': meritOrder === true}"
                   (click)="changeInfo(true)">
                <fa-icon [icon]="faCircleInfo"></fa-icon>
                Merit-Order
              </div>
            </li>
            <li class="nav-item">
              <div [ngClass]="{'nav-link': true, 'active': meritOrder === false}"
                   (click)="changeInfo(false)">Energy Crisis
              </div>
            </li>
          </ul>
        </h6>
        <div class="card-body" *ngIf="meritOrder"> The day-ahead price is determined based on the merit order. The
          power plant with the highest marginal costs, still needed to meet demand, defines the price for all power
          plants.
        </div>
        <div class="card-body" *ngIf="!meritOrder"> At the end of 2021, the gas price had already started to rise, and
          with the outbreak of the Ukraine war in March 2022, the gas price multiplied. Due to the merit order, the
          increased gas price has an impact on the day-ahead prices.
        </div>
      </div>
    </div>
  </div>
</div>
