<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <h6 class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a *ngIf="displaySource !== Source.co2" class="nav-link disabled" href="#">Percentage Share of
                {{displaySource}} in the Total Generation</a>
              <a *ngIf="displaySource === Source.co2" class="nav-link disabled" href="#">CO2-Equivalent in gram per kWh</a>
            </li>
          </ul>
        </h6>
        <div class="card-body full-box">
          <chart-source-heatmap *ngIf="displayDetailFirst === Detail.detailed"
                                [displayMonth]="displayMonth"
                                [displayYear]="displayYear"
          [source]="displaySource"></chart-source-heatmap>
          <h4 *ngIf="displayDetailFirst === Detail.loading"
              class="text-center align-middle">Updating...</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card justify-content-center text-center d-flex">
        <h6 class="card-header">Visualization Options</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <label for="select_year">Year</label>
            <select #selectYear class="form-select text-center" aria-label="Default select example"
                    [ngModel]="displayYear"
                    (ngModelChange)="selectYear.value = setDisplayYear($event)"
                    name="selectYear"
                    id="select_year">
              <option selected [value]="Year.y2022">{{Year.y2022}}</option>
              <option [value]="Year.y2021">{{Year.y2021}}</option>
              <option [value]="Year.y2020">{{Year.y2020}}</option>
              <option [value]="Year.y2019">{{Year.y2019}}</option>
              <option [value]="Year.y2018">{{Year.y2018}}</option>
              <option [value]="Year.y2017">{{Year.y2017}}</option>
              <option [value]="Year.y2016">{{Year.y2016}}</option>
              <option [value]="Year.y2015">{{Year.y2015}}</option>
            </select>
          </li>
          <li class="list-group-item">
            <label for="select_month">Month</label>
            <select #selectMonth class="form-select text-center" aria-label="Default select example"
                    [ngModel]="displayMonth"
                    (ngModelChange)="selectMonth.value = setDisplayMonth($event)"
                    name="selectMonth"
                    id="select_month">
              <option [value]="Month.Year">{{Month.Year}}</option>
              <option [value]="Month.Jan">{{Month.Jan}}</option>
              <option [value]="Month.Feb">{{Month.Feb}}</option>
              <option [value]="Month.Mar">{{Month.Mar}}</option>
              <option [value]="Month.Apr">{{Month.Apr}}</option>
              <option [value]="Month.May">{{Month.May}}</option>
              <option [value]="Month.Jun">{{Month.Jun}}</option>
              <option [value]="Month.Jul">{{Month.Jul}}</option>
              <option [value]="Month.Aug">{{Month.Aug}}</option>
              <option [value]="Month.Sep" [disabled]="displayYear===Year.y2022">{{Month.Sep}}</option>
              <option [value]="Month.Oct" [disabled]="displayYear===Year.y2022">{{Month.Oct}}</option>
              <option [value]="Month.Nov" [disabled]="displayYear===Year.y2022">{{Month.Nov}}</option>
              <option [value]="Month.Dec" [disabled]="displayYear===Year.y2022">{{Month.Dec}}</option>
            </select>
          </li>
          <li class="list-group-item">
            <label for="select_month">Source</label>
            <select #selectSource class="form-select text-center" aria-label="Default select example"
                    [ngModel]="displaySource"
                    (ngModelChange)="selectSource.value = setDisplaySource($event)"
                    name="selectSource"
                    id="select_Source">
              <option [value]="Source.hydroPumpedStorage">{{Source.hydroPumpedStorage}}</option>
              <option [value]="Source.hydroPower">{{Source.hydroPower}}</option>
              <option [value]="Source.windOffshore">{{Source.windOffshore}}</option>
              <option [value]="Source.windOnshore">{{Source.windOnshore}}</option>
              <option [value]="Source.wind">{{Source.wind}}</option>
              <option [value]="Source.nuclear">{{Source.nuclear}}</option>
              <option [value]="Source.fossilGas">{{Source.fossilGas}}</option>
              <option [value]="Source.other">{{Source.other}}</option>
              <option [value]="Source.biomass">{{Source.biomass}}</option>
              <option [value]="Source.photovoltaics">{{Source.photovoltaics}}</option>
              <option [value]="Source.brownCoal">{{Source.brownCoal}}</option>
              <option [value]="Source.hardCoal">{{Source.hardCoal}}</option>
              <option [value]="Source.coal">{{Source.coal}}</option>
              <option [value]="Source.co2">{{Source.co2}}</option>
            </select>
          </li>
          <li class="list-group-item">
            <label>Data Resolution</label>
            <input *ngIf="displayMonth !== Month.Year" class="form-control text-center" type="text"
                   placeholder="15-Minutes Interval"
                   readonly>
            <input *ngIf="displayMonth === Month.Year" class="form-control text-center" type="text"
                   placeholder="6-Hour Average" readonly>
          </li>
          <li class="list-group-item">
            <!-- <button type="button" class="btn btn-secondary mb-2" (click)="updateData()">Update Data</button> -->
            <button type="button" class="btn btn-primary" *ngIf="!isUpdatingFirst" (click)="updateFirstDiagram()">
              Update
              Visualization
            </button>
            <button *ngIf="isUpdatingFirst" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Updating ...
            </button>
          </li>
        </ul>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card card-clickable text-center" *ngIf="previousMonth" (click)="tilePreviousMonth()">
            <fa-icon class="card-body fa-2x" [icon]="faArrowLeft"></fa-icon>
            <span> {{ previousMonth }} </span>
          </div>
        </div>
        <div class="col">
          <div class="card card-clickable text-center" *ngIf="nextMonth" (click)="tileNextMonth()">
            <fa-icon class="card-body fa-2x" [icon]="faArrowRight"></fa-icon>
            <span> {{ nextMonth }} </span>
          </div>
        </div>
      </div>
      <div *ngIf="displaySource === Source.hydroPumpedStorage" class="card justify-content-center d-flex mt-3">
        <h6 class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <div class="nav-link disabled">
                <fa-icon [icon]="faCircleInfo"></fa-icon>
                Hydro Pumped Storage
              </div>
            </li>
          </ul>
        </h6>
        <div class="card-body">
          Hydro Pumped Storage can <b style="color:#2166ac;">generate</b> electricity by channelling
          water from the mountain to the valley. <br> These can also <b style="color:#b2182b;">store</b> electricity by
          pumping water from the valley up the mountain. Excess electricity is used for this purpose.
        </div>
      </div>
    </div>
  </div>
</div>
