<div class="toolbar" role="banner">
  <h3 class="m-2">Data Visualization of the Electricity Production in Germany</h3>
  <div class="spacer"></div>
  <a aria-label="Project on GitHub" target="_blank" rel="noopener"
     href="https://github.com/mallgaier/Data_Visualization_Electricity_Production_Germany" title="Project on GitHub">
    <svg id="github-logo" height="25" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         fill="#fff">
      <rect width="200" height="200" fill="none"/>
      <path
        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
    </svg>
  </a>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10">
        <highcharts-chart id="bigChartContainer"
                          style="width: 100%; height: 600px; display: inline-flex;"
                          [Highcharts]="highchartBig"
                          [options]="chartOptions"
                          [callbackFunction]="chartCallback"
                          [(update)]="updateFlagBig"
                          [oneToOne]="true">
        </highcharts-chart>
      </div>
      <div class="col-lg-2">
        <div class="card">
          <h5 class="card-header">Visualization Options:</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <label>Select Detail:</label>
              <div class="d-flex align-items-start">
                <div class="btn-group">
                  <div class="btn" [class.btn-secondary]="!displayDetail" [class.btn-outline-secondary]="displayDetail"
                       (click)="setDisplayDetail(false)"> Overview
                  </div>
                  <div class="btn btn-default" [class.btn-secondary]="displayDetail"
                       [class.btn-outline-secondary]="!displayDetail"
                       (click)="setDisplayDetail(true)"> Detail
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <label for="select_year">Select Year:</label>
              <select #selectYear class="form-select" aria-label="Default select example" [ngModel]="displayYear"
                      (ngModelChange)="selectYear.value = setDisplayYear($event)"
                      name="selectYear"
                      id="select_year">
                <option selected [value]="Year.y2022">{{Year.y2022}}</option>
                <option [value]="Year.y2021">{{Year.y2021}}</option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="select_month">Select Month:</label>
              <select #selectMonth class="form-select" aria-label="Default select example" [ngModel]="displayMonth"
                      (ngModelChange)="selectMonth.value = setDisplayMonth($event)"
                      name="selectMonth"
                      id="select_month">
                <option selected [value]="Month.Year">{{Month.Year}}</option>
                <option [value]="Month.Jan">{{Month.Jan}}</option>
                <option [value]="Month.Feb">{{Month.Feb}}</option>
                <option [value]="Month.Mar">{{Month.Mar}}</option>
                <option [value]="Month.Apr">{{Month.Apr}}</option>
                <option [value]="Month.Jun">{{Month.Jun}}</option>
                <option [value]="Month.Jul">{{Month.Jul}}</option>
                <option [value]="Month.Aug">{{Month.Aug}}</option>
                <option [value]="Month.Sep">{{Month.Sep}}</option>
                <option [value]="Month.Oct">{{Month.Oct}}</option>
                <option [value]="Month.Nov">{{Month.Nov}}</option>
                <option [value]="Month.Dec">{{Month.Dec}}</option>
              </select>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn btn-primary" (click)="updateGraph()">Update Visualization</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-lg-10">
      </div>
      <div class="col-lg-1">
        <div class="card">
          <h6 class="card-header bg-secondary text-white">Conventional</h6>
          <h1 class="card-body text-center"> {{percentageConventional}}%</h1>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="card">
          <h6 class="card-header bg-success text-white">Renewable</h6>
          <h1 class="card-body text-center"> {{percentageRenewable}}%</h1>
        </div>
      </div>
    </div>
  </div>
</div>
