.content {
  display: flex;
  padding: 0 8px;
  flex-direction: column;
}

.content-margin {
  margin: 82px auto 3px;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
}

.toolbar-height {
  height: 60px;
}

@media only screen and (max-width: 600px) {
  .toolbar-height {
    height: 250px;
  }

  .content-margin {
    margin: 280px auto 3px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
  .toolbar-height {
    height: 100px;
  }

  .content-margin {
    margin: 120px auto 3px;
  }
}

.selected {
  background-color: white;;
  color: black;
}

.text-brown {
  color: #b15928;
}

.card-clickable {
  cursor: pointer;
}

@media only screen and (max-height: 980px) {
  .comparison-first {
    height: 375px;
  }

  .comparison-second {
    height: 325px;
  }

  .dashboard-first {
    height: 450px;
  }

  .dashboard-second {
    height: 250px;
  }

  .dashboard-full {
    height: 650px;
  }

  .full-box {
    height: 750px;
  }
}

@media only screen and (min-height: 981px) {
  .comparison-first {
    height: 425px;
  }

  .comparison-second {
    height: 375px;
  }

  .dashboard-first {
    height: 500px;
  }

  .dashboard-second {
    height: 300px;
  }

  .dashboard-full {
    height: 750px;
  }

  .full-box {
    height: 850px;
  }
}
