<div class="toolbar" role="banner">
  <h4 class="m-2">Data Visualization of the Electricity Generation in Germany</h4>
  <div class="spacer"></div>
  <div>{{version}}</div>
  <a class="m-2" aria-label="Project on GitHub" target="_blank" rel="noopener"
     href="https://github.com/mallgaier/Data_Visualization_Electricity_Production_Germany" title="Project on GitHub">
    <svg id="github-logo" height="25" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         fill="#fff">
      <rect width="200" height="200" fill="none"/>
      <path
        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
    </svg>
  </a>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10">
        <div class="card">
          <h6 class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Timeline Data</a>
              </li>
              <li class="nav-item">
                <div [ngClass]="{'nav-link': true, 'active': displayDetailBig === Detail.detailed}"
                     (click)="changeBigDetail(Detail.detailed)">{{ Detail.detailed }}</div>
              </li>
              <li class="nav-item">
                <div [ngClass]="{'nav-link': true, 'active': displayDetailBig === Detail.grouped}"
                     (click)="changeBigDetail(Detail.grouped)">{{ Detail.grouped }}</div>
              </li>
              <li class="nav-item">
                <div [ngClass]="{'nav-link': true, 'active': displayDetailBig === Detail.summarized}"
                     (click)="changeBigDetail(Detail.summarized)">{{ Detail.summarized }}</div>
              </li>
            </ul>
          </h6>
          <div class="card-body" style="height: 500px">
            <chart-big-detailed *ngIf="displayDetailBig === Detail.detailed" [displayMonth]="displayMonth"
                                [displayYear]="displayYear"></chart-big-detailed>
            <chart-big-grouped *ngIf="displayDetailBig === Detail.grouped" [displayMonth]="displayMonth"
                               [displayYear]="displayYear"></chart-big-grouped>
            <chart-big-summarized *ngIf="displayDetailBig === Detail.summarized" [displayMonth]="displayMonth"
                                  [displayYear]="displayYear"></chart-big-summarized>
            <h4 *ngIf="displayDetailBig === Detail.loading"
                class="spinner-border spinner-border-xl center-spinner" role="status" aria-hidden="true"></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card justify-content-center text-center d-flex">
          <h6 class="card-header">Visualization Options</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <label for="select_year">Year</label>
              <select #selectYear class="form-select text-center" aria-label="Default select example"
                      [ngModel]="displayYear"
                      (ngModelChange)="selectYear.value = setDisplayYear($event)"
                      name="selectYear"
                      id="select_year">
                <option selected [value]="Year.y2022">{{Year.y2022}}</option>
                <option [value]="Year.y2021">{{Year.y2021}}</option>
                <option [value]="Year.y2020">{{Year.y2020}}</option>
                <option [value]="Year.y2019">{{Year.y2019}}</option>
                <option [value]="Year.y2018">{{Year.y2018}}</option>
                <option [value]="Year.y2017">{{Year.y2017}}</option>
                <option [value]="Year.y2016">{{Year.y2016}}</option>
                <option [value]="Year.y2015">{{Year.y2015}}</option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="select_month">Month</label>
              <select #selectMonth class="form-select text-center" aria-label="Default select example"
                      [ngModel]="displayMonth"
                      (ngModelChange)="selectMonth.value = setDisplayMonth($event)"
                      name="selectMonth"
                      id="select_month">
                <option [value]="Month.Year">{{Month.Year}}</option>
                <option [value]="Month.Jan">{{Month.Jan}}</option>
                <option [value]="Month.Feb">{{Month.Feb}}</option>
                <option [value]="Month.Mar">{{Month.Mar}}</option>
                <option [value]="Month.Apr">{{Month.Apr}}</option>
                <option [value]="Month.May">{{Month.May}}</option>
                <option [value]="Month.Jun">{{Month.Jun}}</option>
                <option [value]="Month.Jul">{{Month.Jul}}</option>
                <option selected [value]="Month.Aug">{{Month.Aug}}</option>
                <option [value]="Month.Sep">{{Month.Sep}}</option>
                <option [value]="Month.Oct" [disabled]="displayYear===Year.y2022">{{Month.Oct}}</option>
                <option [value]="Month.Nov" [disabled]="displayYear===Year.y2022">{{Month.Nov}}</option>
                <option [value]="Month.Dec" [disabled]="displayYear===Year.y2022">{{Month.Dec}}</option>
              </select>
            </li>
            <li class="list-group-item">
              <label>Data Resolution</label>
              <input *ngIf="displayMonth !== Month.Year" class="form-control text-center" type="text"
                     placeholder="15-Minutes Interval"
                     readonly>
              <input *ngIf="displayMonth === Month.Year" class="form-control text-center" type="text"
                     placeholder="6-Hour Average" readonly>
            </li>
            <li class="list-group-item">
              <!-- <button type="button" class="btn btn-secondary mb-2" (click)="updateData()">Update Data</button> -->
              <button type="button" class="btn btn-primary" *ngIf="!isUpdating" (click)="updateVisualization()">Update
                Visualization
              </button>
              <button *ngIf="isUpdating" class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Updating ...
              </button>
            </li>
          </ul>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="card clickable text-center" *ngIf="previousMonth" (click)="tilePreviousMonth()">
              <fa-icon class="card-body fa-2x" [icon]="faArrowLeft"></fa-icon>
              <span> {{ previousMonth }} </span>
            </div>
          </div>
          <div class="col">
            <div class="card clickable text-center" *ngIf="nextMonth" (click)="tileNextMonth()">
              <fa-icon class="card-body fa-2x" [icon]="faArrowRight"></fa-icon>
              <span> {{ nextMonth }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-10">
        <div class="card">
          <h6 class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Aggregated Data</a>
              </li>
              <li class="nav-item">
                <div [ngClass]="{'nav-link': true, 'active': displayDetailSmall === Detail.detailed}"
                     (click)="changeSmallDetail(Detail.detailed)">{{ Detail.detailed }}</div>
              </li>
              <li class="nav-item">
                <div [ngClass]="{'nav-link': true, 'active': displayDetailSmall === Detail.grouped}"
                     (click)="changeSmallDetail(Detail.grouped)">{{ Detail.grouped }}</div>
              </li>
              <li class="nav-item">
                <div [ngClass]="{'nav-link': true, 'active': displayDetailSmall === Detail.summarized}"
                     (click)="changeSmallDetail(Detail.summarized)">{{ Detail.summarized }}</div>
              </li>
            </ul>
            <!--   <span class="float-end" (click)="changeCollapseSecondRow()">
                 <fa-icon *ngIf="!collapseSecondRow" [icon]="faArrowDown"></fa-icon>
                 <fa-icon *ngIf="collapseSecondRow" [icon]="faArrowUp"></fa-icon>
               </span>-->
          </h6>
          <div *ngIf="!collapseSecondRow" class="card-body" style="height: 200px">
            <chart-small-detailed *ngIf="displayDetailSmall === Detail.detailed" [displayMonth]="displayMonth"
                                  [displayYear]="displayYear"></chart-small-detailed>
            <chart-small-grouped *ngIf="displayDetailSmall === Detail.grouped" [displayMonth]="displayMonth"
                                 [displayYear]="displayYear"></chart-small-grouped>
            <chart-small-summarized *ngIf="displayDetailSmall === Detail.summarized" [displayMonth]="displayMonth"
                                    [displayYear]="displayYear"></chart-small-summarized>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card">
          <h6 class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Percentage Data</a>
              </li>
            </ul>
            <!--<span class="float-end" (click)="changeCollapseSecondRow()">
              <fa-icon *ngIf="!collapseSecondRow" [icon]="faArrowDown"></fa-icon>
              <fa-icon *ngIf="collapseSecondRow" [icon]="faArrowUp"></fa-icon>
            </span>-->
          </h6>
          <div *ngIf="!collapseSecondRow" class="card-body">
            <div class="card-group">
              <div class="card text-center">
                <h6 class="card-header bg bg-conventional text-white">Conventional</h6>
                <h1 class="card-body" *ngIf="!isUpdating"> {{percentageConventional}}%</h1>
                <span *ngIf="isUpdating" class="card-body spinner-border spinner-border-sm m-4" role="status"
                      aria-hidden="true"></span>
              </div>
              <div class="card text-center">
                <h6 class="card-header bg bg-renewable text-white">Renewable</h6>
                <h1 class="card-body" *ngIf="!isUpdating"> {{100 - percentageConventional}}%</h1>
                <span *ngIf="isUpdating" class="card-body spinner-border spinner-border-sm m-4" role="status"
                      aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<footer class="footer bg-secondary text-white">
  <div>Data provided by the Federal Network Agency ("Bundesnetzagentur") Germany under the CC BY 4.0 licence</div>
</footer>-->
