<div class="toolbar toolbar-height bg-dark" role="banner">
  <fa-icon class="ms-2 me-2 text-warning" [icon]="faBoltLightning"></fa-icon>
  <h4 class="me-2">Electricity Visualization</h4>
  <div class="text-muted me-4 small">{{version}}</div>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <div [ngClass]="{'nav-link text-white': true, 'active': tabSelected === Tab.explorer}"
           (click)="changeTab(Tab.explorer)">{{ Tab.explorer }}</div>
    </li>
    <li class="nav-item">
      <div [ngClass]="{'nav-link text-white': true, 'active': tabSelected === Tab.timeComparison}"
           (click)="changeTab(Tab.timeComparison)">{{ Tab.timeComparison }}</div>
    </li>
    <li class="nav-item">
      <div [ngClass]="{'nav-link text-white': true, 'active': tabSelected === Tab.heatmap}"
           (click)="changeTab(Tab.heatmap)">{{ Tab.heatmap }}</div>
    </li>
    <li class="nav-item">
      <div [ngClass]="{'nav-link text-white': true, 'active': tabSelected === Tab.scatterplot}"
           (click)="changeTab(Tab.scatterplot)">{{ Tab.scatterplot }}</div>
    </li>
   <!-- <li class="nav-item">
      <div [ngClass]="{'nav-link text-white': true, 'active': tabSelected === Tab.priceExport}"
           (click)="changeTab(Tab.priceExport)">{{ Tab.priceExport }}</div>
    </li>-->
  </ul>
  <div class="spacer"></div>
  <ul class="nav nav-pills">
  <li class="nav-item">
    <div [ngClass]="{'nav-link text-white': true, 'active': tabSelected === Tab.about}"
         (click)="changeTab(Tab.about)">{{ Tab.about }}</div>
  </li>
    <li class="nav-item">
      <a class="nav-link text-white deactivated" aria-label="Project on GitHub" target="_blank" rel="noopener"
         href="https://github.com/mallgaier/Electricity_Visualisation_Germany" title="Project on GitHub">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </li>
  </ul>
</div>

<div class="content content-margin">
  <dashboard *ngIf="tabSelected === Tab.explorer"></dashboard>
  <comparison *ngIf="tabSelected === Tab.timeComparison"></comparison>
  <sourceHeatmap *ngIf="tabSelected === Tab.heatmap"></sourceHeatmap>
  <scatterplot *ngIf="tabSelected === Tab.scatterplot"></scatterplot>
  <priceExport *ngIf="tabSelected === Tab.priceExport"></priceExport>
  <about *ngIf="tabSelected === Tab.about" (newItemEvent)="changeTab($event)"></about>
</div>
