.content {
  display: flex;
  margin: 82px auto 3px;
  padding: 0 8px;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
}

.selected {
  background-color: white;;
  color: black;
}
